body {
  background-color: lavender;/* This is a levanda color */
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  overflow: hidden;
  background-color: #ff8c00;
  max-width: 100%;
  margin: auto;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;

  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #D82061;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a{
  color: blue;
  text-decoration: none;
  }
  
a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}

/*
a:visited {
  color: gray;
  text-decoration: none;
} 
*/

/* Page content */
.content {
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.banner_1 {
  padding: 1px;
  color: #3f3f3f;
  background-color: ff8c00;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  position: relative;
  width:300px;
  top: 0px;
  margin: auto;
}

.banner_2 {
  padding: 1px;
  color: #3f3f3f;
  background-color: ff8c00;
  /*font-size: 40px;
  font-weight: bold;
  text-align: center;
  position: relative;*/
  width:820px;
  top: 20px;
  margin: auto;
}
 
 .banner_3 {
  padding: 1px;
  color: #3f3f3f;
  background-color: ff8c00;
  /*font-size: 40px;
  font-weight: bold;
  text-align: center;
  position: relative;*/
  width:1024px;
  top: 20px;
  margin: auto;
}
.team {
  background-color: white;
  color: black;
  border: 0px solid black;
  margin: 1px;
  padding: 1px;
  width:198px;
  height:70px;
  text-align: left;
}

.subheader1 {
  position: relative;
  background-color: lavender;
  color: black;
  border: 0px solid black;
  margin: 2px;
  padding: 2px;
  width:100%;
  text-align: left;
  margin-top: 5px;
}
.main {
  background-color: lavender;
  color: black;
  border: 0px solid black;
  margin: 2px;
  padding: 2px;
  width:100%;
  text-align:  justify;
}

.center {
  margin: auto;
}

div.logo {
  position: absolute;
  right: 20px;
  top: -20px;
}

div.main_image {
  position: absolute;
  padding: 1px;
  width: 100%;
  margin: auto;
  margin-top:120px;
  margin-left:500px;
}

.product_image {
  width: 90%;
  margin-left:20px;
  padding: 5px;
}

div.contest_image {
  position: relative;
  padding: 1px;
  width: 100%;
  /*margin-top: 0px;*/
  margin-left:50px;
  margin-top:-45px;

}

div.idea_image {
  position: absolute;

}

.zebra_table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

div.polaroid {
  width: 400px;
  height: 400px;
  background-color: lavender;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

div.polaroid_fp {
  width: 300px;
  height: 300px;
  background-color: lavender;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
div.polaroid_wide {
  width: 800px;
  background-color: lavender;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.polaroid_congrats {
  width: 200px;
  height: 160px;
  background-color: lavender;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2px;
  margin-top:-45px;
}
div.container {
  text-align: center;
  padding: 3px 3px;
  font-weight: bold;
}

div.description {
  text-align: left;
  padding: 10px 10px;
  font-weight: normal;
}

.product {
  position: relative;
  padding: 2px;
  margin: auto;
  margin-top:-50px;

}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 0px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Create three equal columns that floats next to each other */
.column_3 {
  float: left;
  width: 33%;
  padding: 0px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}


/* Create three equal columns that floats next to each other */
.column_4 {
  float: left;
  width: 25%;
  padding: 0px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
